* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'MuseoModerno', sans-serif;
  background-color: #FECE00;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
