.perfect-day-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
  overflow: hidden;
}

.perfect-day-overlay.closing {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.blue-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background: #0061EE;
  border-radius: 50%;
  animation: blueCircleBurst 0.8s ease-out forwards;
  pointer-events: none;
}

@keyframes blueCircleBurst {
  0% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(0) scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(-30vh) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(-35vh) scale(0);
    opacity: 0;
  }
}

.firework-ray {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: animosrays 1.5s ease-out forwards;
  pointer-events: none;
}

@keyframes animosrays {
  0% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(0) scale(0) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(calc(var(--distance) * -1)) scale(1) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(calc(var(--distance) * -1.2)) scale(0.3) rotate(720deg);
    opacity: 0;
  }
}

.perfect-day-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  animation: centerBounce 0.6s ease-out forwards;
}

.perfect-day-center.closing {
  animation: scaleDown 0.5s ease-out forwards;
}

@keyframes centerBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.perfect-day-monster {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #FECE00;
  text-shadow: 
    3px 3px 0 #0061EE,
    -1px -1px 0 #0061EE,
    1px -1px 0 #0061EE,
    -1px 1px 0 #0061EE,
    1px 1px 0 #0061EE;
  line-height: 1.2;
  margin-bottom: 5px;
  animation: textPulse 1s ease-in-out infinite;
}

.perfect-day-starke {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #FECE00;
  text-shadow: 
    3px 3px 0 #0061EE,
    -1px -1px 0 #0061EE,
    1px -1px 0 #0061EE,
    -1px 1px 0 #0061EE,
    1px 1px 0 #0061EE;
  line-height: 1.2;
  margin-bottom: 5px;
  animation: textPulse 1s ease-in-out infinite 0.1s;
}

.perfect-day-number {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 150px;
  font-weight: 800;
  color: #FECE00;
  text-shadow: 
    3px 3px 0 #0061EE,
    -1px -1px 0 #0061EE,
    1px -1px 0 #0061EE,
    -1px 1px 0 #0061EE,
    1px 1px 0 #0061EE;
  line-height: 1.2;
  margin-bottom: 5px;
  animation: textPulse 1s ease-in-out infinite 0.2s;
}

.perfect-day-bonus {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #FECE00;
  text-shadow: 
    3px 3px 0 #0061EE,
    -1px -1px 0 #0061EE,
    1px -1px 0 #0061EE,
    -1px 1px 0 #0061EE,
    1px 1px 0 #0061EE;
  line-height: 1.2;
  margin-bottom: 5px;
  animation: textPulse 1s ease-in-out infinite 0.3s;
}

.perfect-day-punkte {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #FECE00;
  text-shadow: 
    3px 3px 0 #0061EE,
    -1px -1px 0 #0061EE,
    1px -1px 0 #0061EE,
    -1px 1px 0 #0061EE,
    1px 1px 0 #0061EE;
  line-height: 1.2;
  margin-bottom: 5px;
  animation: textPulse 1s ease-in-out infinite 0.4s;
}

.perfect-day-verdient {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #FECE00;
  text-shadow: 
    3px 3px 0 #0061EE,
    -1px -1px 0 #0061EE,
    1px -1px 0 #0061EE,
    -1px 1px 0 #0061EE,
    1px 1px 0 #0061EE;
  line-height: 1.2;
  margin-bottom: 5px;
  animation: textPulse 1s ease-in-out infinite 0.5s;
}

@keyframes textPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
