.quarter-circle-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

.quarter-circle-inner {
  width: 100%;
  height: 100%;
  background-color: #0061EE;
  border-top-left-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quarter-circle-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
