.quarter-circle-wrapper {
  position: fixed;
  bottom: 0;
  right: calc(var(--content-area-margin) + 15px);
  width: 60px;
  height: 60px;
  z-index: var(--z-menu);
  cursor: pointer;
  transform: scale(1);
  transform-origin: 30px 30px;
  transition: transform 1.2s ease-out;
}

.quarter-circle-wrapper.menu-open {
  z-index: var(--z-menu);
}

.quarter-circle-inner {
  width: 100%;
  height: 100%;
  background-color: #0061EE;
  border-top-left-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quarter-circle-cross {
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(45deg);
}
