.quarter-circle-wrapper {
  position: fixed;
  bottom: 0;
  right: calc(100vw - var(--content-right-boundary));
  width: 60px;
  height: 60px;
  z-index: 6000;
  cursor: pointer;
}

.quarter-circle-inner {
  width: 100%;
  height: 100%;
  background-color: #0061EE;
  border-top-left-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quarter-circle-cross {
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(45deg);
}
