.quarter-circle-wrapper {
  position: absolute;
  bottom: 210px;
  right: 5%;
  width: 60px;
  height: 60px;
  z-index: 50;
  cursor: pointer;
}

.quarter-circle-wrapper.menu-open {
  z-index: 50;
}

.quarter-circle-wrapper.detail-open {
  z-index: 10;
}

.quarter-circle-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), 
              height 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.quarter-circle-cross {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
}
