.red-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  background-color: #EE4100;
  z-index: 9999;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 7px 7px 0px #0061EE;
}
