.red-menu {
  position: fixed;
  left: 50%;
  bottom: calc(-33.6vmin + 30px);
  transform: translateX(-50%) scale(1);
  transform-origin: center 70%;
  width: 48vmin;
  height: 48vmin;
  background-color: #EE4100;
  z-index: 9999;
  cursor: pointer;
  border-radius: 50%;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}
