.red-menu {
  position: fixed;
  left: 50%;
  bottom: -30%;
  transform: translateX(-50%);
  transform-origin: center 70%;
  width: 60vmin;
  height: 60vmin;
  background-color: #EE4100;
  z-index: 9999;
  cursor: pointer;
  border-radius: 50%;
}
