.red-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vmin;
  height: 20vmin;
  background-color: #EE4100;
  z-index: 9999;
  cursor: pointer;
  border-radius: 50%;
}
