@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;600;700;800&display=swap');

:root {
  --dumbledido-yellow: #FECE00;
  --dumbledido-blue: #0061EE;
  --dumbledido-pink: #FF006E;
  --dumbledido-coral: #EE4100;
  --dumbledido-green: #38D247;
  --dumbledido-red: #EE4100;
  --dumbledido-light-pink: #FF77B9;
  --dumbledido-magenta: #EE00AE;
  --dumbledido-orange: #FEBA00;
  --dumbledido-gray: #707070;
  --dumbledido-light-gray: #E4F4E4;
  --dumbledido-bg: #E4F4E4;
  --dumbledido-border-blue: #0061EE;
  --dumbledido-black: #000000;
  --dumbledido-white: #FFFFFF;
  
  /* Z-index hierarchy for layering */
  --z-base: 0;
  --z-floating: 100;
  --z-sticky: 500;
  --z-menu: 10000;
  --z-modal-overlay: 11000;
  --z-modal-content: 11001;
  --z-celebration-overlay: 12000;
  --z-confetti: 13000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MuseoModerno', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dumbledido-yellow);
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: 500;
}

#root {
  min-height: 100vh;
  background: var(--dumbledido-yellow);
}
